.search-bar {
  border-bottom: $border2;

  .container {
    height: $topbarRow;
    display: flex;
    align-items: center;

    .left-menu-button {
      border: none;
      background-color: $white;
      height: 100%;
      padding: 0 spacing(md);

      &:hover {
        background-color: gray(lighten);
      }
      &:active {
        background-color: pink(primary);
      }

      img {
        height: 30px;
      }
    }

    .logo {
      height: 80%;
      margin-left: spacing(sm);
    }

    .icon-box {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        margin: 0 spacing(sm);
      }
    }

    .search-input {
      @extend .icon-box;
      border: $border1;
      border-radius: radius(sm);
      padding: 0 spacing(sm);
      margin: 0 spacing(md);
      background: $white;
      flex-grow: 1;

      input {
        border: none;
        font-size: 1rem;
        line-height: 2.5rem;
        max-width: 100%;
        flex-grow: 1;

        &:focus-visible {
          outline: none;
        }
      }
    }

    .login {
      @extend .icon-box;
      height: 100%;
      text-transform: uppercase;
      padding: spacing(md);

      &:hover {
        color: pink(lighten);
        background: pink(secondary);
      }
      &:active {
        color: $white;
        background-color: gray(primary);
        border-color: gray(primary);
      }
    }
  }
}
